*.pdb
*.dll
Matrix/obj/Release/
Matrix/bin/Debug/
Matrix/bin/Release/netcoreapp2.1/
Matrix/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Matrix/obj/Debug/netcoreapp2.1/
